	<h1>Add a new raffle</h1>

	<div class="container">
		<div class="row top-30">
      <div class="col-md-2 col-sm-2">
        <a class="btn btn-default" href="/api/entries">View Entries</a>
      </div>
			<div class="col-md-2 col-sm-2">
        <a class="btn btn-default" href="/">New Entry</a>
      </div>
    </div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="raffle-container">
					<h1>Raffles</h1>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Item</th>
                                <th>  </th>
								<th># of Entries</th>
								<th>End Raffle</th>
							</tr>
                            <tr id="raffle-list" class="list-group">
                                {{#each Raffle}}
                                    <th data-id="{{this.id}}" class="list-group-item">
                                      <a href="raffle/{{this.id}}">{{this.raffleName}}</a>
                                    </>
                                {{/each}}
                            </tr>
						</thead>
						<tbody>

							<tr id="form-row">
								<form id="raffle-form">
									<td colspan="4">
										<input placeholder="Enter a raffle item" id="raffle-name" type="text" />
									</td>
									<td><button type="submit" class="btn btn-success">Create Raffle</button>
									</td>
								</form>
                                {{#each Raffle}}
                                <tr>{{this.raffleName}}>{{this.entryCount}}<button type="submit" class="endRaffle btn btn-success">End the raffle</tr>
                                {{/each}}
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		</d>
		<!-- Custom Script -->
		<script src="js/raffle.js" type="text/javascript"></script>

