<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h1>{{msg}}</h1>
                <h2>Enter into a raffle below!</h2>
                <form class="clearfix mb-4" id="enter-raffle">
                    <div class="form-group">
                        <label for="entryName">Name</label>
                        <input type="text" id="entryName" class="form-control" aria-describedby="entryName" placeholder="Enter your name please">
                    </div>
                    <div class="form-group">
                        <label for="entryEmail">Contact Email</label>
                        <input class="form-control" id="entryEmail" aria-describedby="entryEmail" placeholder="Enter your email address"></input>
                    </div>
                    <div class="form-group">
                        <label for="category">Select which raffle you would like to enter:</label>
                        <select class="form-control ticket" id="raffle">
                            {{#each Raffle}}
                                <option value="{{this.raffleName}}">{{this.raffleName}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <button id="submit" class="btn btn-primary float-right">Submit</button>
                </form>
                <h3>Running Raffles:</h3>
                <ul id="raffle-list" class="list-group">
                    {{#each Raffle}}
                    <li data-id="{{this.id}}" class="list-group-item">
                        <a href="raffle/{{this.id}}">{{this.raffleName}}</a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/entries.js"></script>